<%- include('partials/head') %>
<%- include('partials/navbar') %>
<div class="container tweet-container">
    <h1 class="tweet-header">Welcome!</h1>
    <p>This is an attempt to do some basic API functionality.</p>
</div>
<%- include('partials/footer') %>