<footer style="background-color: #0fc; text-align: center; padding: 10px;">
    <p>I'd like to thank Colt Steele for his <a href="https://www.udemy.com/course/the-web-developer-bootcamp/"
            target="_blank">amazing
            course</a>!</p>
</footer>

</body>

</html>