<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- We just set the name of the file we want, public directory is already the only scope. -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- We add our on stylesheet. -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Old versions of Bootstrap need JQuery, Bootstrap 5+ don't need it anymore. -->
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>